@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br></br>
    <button id="boton1" type="button" class="btn btn-success">Cuenta Clicks</button>
    <br></br>
    <span id="texto_clicks">Se han dado 0 clicks</span>


</div>
